<a href="https://colab.research.google.com/github/Musungu-Maureen/IP-WEEEK-4/blob/main/IP_WEEK_FOUR_SQL_ELECTRIC_CARS_ANALYSIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
# Loading our extension
%load_ext sql

# Loading our in memory sqlite database
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

In [6]:
# First importing the libraries we shall be using 
import pandas as pd

# Loading our Final_Autolib dataset
with open('Final_Autolib.csv','r') as f:
    BlueCars = pd.read_csv(f, index_col=0, encoding='utf-8')


# Saving the Final Autolib CSV file into a database
%sql DROP TABLE if EXISTS BlueCars;
%sql PERSIST BlueCars;

 * sqlite://
Done.
 * sqlite://

'Persisted bluecars'

In [16]:
# The most popular hour of the day for picking up a Bluecar in the city of Paris over the month of April 2018.
%%sql
SELECT City, hour, COUNT(hour)
FROM BlueCars
WHERE City = "Paris" AND month = 4
GROUP BY hour
ORDER BY count(hour)
DESC LIMIT 1;

 * sqlite://
Done.

[('Paris', 21, 147)]

In [15]:
# The most popular hour for returning cars
%%sql
SELECT hour, COUNT(hour)
FROM BlueCars
WHERE Slots > 0
GROUP BY hour
ORDER BY COUNT(hour)
DESC LIMIT 1;

 * sqlite://
Done.

[(16, 152)]

In [27]:
# Most popular Station
%%sql
SELECT "Public name","City", COUNT("Station type")
FROM BlueCars
GROUP BY "Station type"
ORDER BY COUNT("Station type")
DESC LIMIT 1;

 * sqlite://
Done.

[('Paris/Henry Brisson/5', 'Paris', 4615)]

In [29]:
# Most Popular station at the most popular picking hour 
%%sql
SELECT "Public name", COUNT("Station type")
FROM BlueCars
WHERE "hour" = 21
GROUP BY "Station type"
ORDER BY COUNT("Station type")
DESC LIMIT 1;

 * sqlite://
Done.

[('Paris/HÃ´pital/47', 220)]

In [19]:
#Most popular postal code for picking up Blue cars
%%sql
SELECT "Postal Code", "Public name", COUNT("Postal Code")
FROM BlueCars
WHERE "Slots" < 7 AND "Bluecar counter" > 0
GROUP BY "Postal Code"
ORDER BY COUNT("Postal Code")
DESC LIMIT 1;

 * sqlite://
Done.

[(75015, 'Paris/Dantzig/37', 195)]

In [22]:
# Most popular postal code for picking blue cars at the most popular hour
%%sql
SELECT "Postal Code", "Public name", COUNT("Postal Code")
FROM BlueCars
WHERE "Slots" < 7 AND "Bluecar counter" > 0 AND "hour" = 21
GROUP BY "Postal Code"
ORDER BY COUNT("Postal Code")
DESC LIMIT 1;

 * sqlite://
Done.

[(75014, 'Paris/Porte de Montrouge/8', 12)]

In [24]:
#Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars? 
# Utilib cars
%%sql
SELECT "Postal Code", "Public name", COUNT("Postal Code")
FROM BlueCars
WHERE "Slots" < 7 AND "Utilib counter" > 0 AND "hour" = 21
GROUP BY "Postal Code"
ORDER BY COUNT("Postal Code")
DESC LIMIT 1;

 * sqlite://
Done.

[(75014, 'Paris/Porte de Montrouge/8', 5)]

In [25]:
#Utilib 1.4 cars
%%sql
SELECT "Postal Code", "Public name", COUNT("Postal Code")
FROM BlueCars
WHERE "Slots" < 7 AND "Utilib 1.4 counter" > 0 AND "hour" = 21
GROUP BY "Postal Code"
ORDER BY COUNT("Postal Code")
DESC LIMIT 1;

 * sqlite://
Done.

[(75014, 'Paris/Porte de Montrouge/8', 5)]